body {
	font-family: Open sans !important;
}

footer {
	background-color: #72A5C2;
	height: 39px;
	text-align: center;
	color: white;
	vertical-align: middle;
	line-height: 35px;
}

.navbar-header {
	float: left !important;
	padding: 15px !important;
	text-align: center !important;
	width: 100% !important;
}

.navbar-brand {
	float: none !important;
	font-size: 18px !important;
	font-weight: bold;
}

.btn-lg {
	background-color: #72A5C2 !important;
	border-color: #72A5C2 !important;
}

.title-heading {
	font-weight: bold;
}

.carousel-inner>.item>img {
	width:100% !important;
	height: 370px !important;
}