<!DOCTYPE html>
<html lang="en">
<head>
<title>Pentalog Internships</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="img/penta-logo.png" type="image/png">

<script>
	document.write('<base href="' + document.location + '" />');
</script>

<!-- Own style -->
<link href="resources/css/style.css" rel="stylesheet" />

<!-- AngularJS source code -->
<script data-semver="1.2.28"
	src="https://code.angularjs.org/1.2.28/angular.js"
	data-require="angular.js@1.2.x"></script>
<script src="https://code.angularjs.org/1.2.28/angular-route.js"></script>
<script src="resources/js/angular.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<!-- Bootstrap -->
<link href="resources/css/bootstrap.min.css" rel="stylesheet"
	type="text/css">
<script src="resources/js/bootstrap.min.js"></script>
</head>

<body ng-app="PentaStagiuApp">

	<header class="">Wanted Interns!</header>

	<div class="container">
		<br>
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
				<li data-target="#myCarousel" data-slide-to="3"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<img src="img/img_chania.jpg" alt="Internship">
				</div>

				<div class="item">
					<img src="img/img_chania2.jpg" alt="JAVA">
				</div>

				<div class="item">
					<img src="img/img_flower.jpg" alt="Android">
				</div>

				<div class="item">
					<img src="img/img_flower2.jpg" alt="PHP">
				</div>
			</div>

			<!-- Left and right controls -->
			<a class="left carousel-control" href="#myCarousel" role="button"
				data-slide="prev"> <span
				class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a> <a class="right carousel-control" href="#myCarousel" role="button"
				data-slide="next"> <span
				class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="index.html">Pentalog Internships</a>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div ng-controller="ContentController" class="container">
		<div class="row">
			<div class="container col-md-12 text-center">
				<h1 class="title-heading">PentaStagiu</h1>
				<button class="btn btn-primary btn-lg"
					ng-click="retrieveContent(content)">.Net</button>
				<button class="btn btn-primary btn-lg"
					ng-click="retrieveContent(content)">Java</button>
				<button class="btn btn-primary btn-lg"
					ng-click="retrieveContent(content)">PHP</button>
				<button class="btn btn-primary btn-lg"
					ng-click="retrieveContent(content)">Testing</button>
				<button class="btn btn-primary btn-lg"
					ng-click="retrieveContent(content)">FrontEnd</button>
				<button class="btn btn-primary btn-lg"
					ng-click="retrieveContent(content)">Android</button>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 text-center">
				<h2 class="section-heading">Description of the internship</h2>
				<hr class="primary">
				<p ng-repeat="ctnt in contents">{{ctnt.content}}</p>
			</div>
		</div>
        <div class="row"><center>
          <a href="https://www.google.ro">
          <button class="btn btn-primary btn-lg" >Register</button>
          </a>
        </center>
        </div>
	</div>

	<div class="row">
		<section id="contact">
			<div class="container">
				<div class="col-lg-4 col-lg-offset-2 text-center">
					<i class="fa fa-phone fa-3x wow bounceIn"></i>
					<p>Agentul 007</p>
				</div>
				<div class="col-lg-4 text-center">
					<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
					<p>
						<a href="mailto:holy@shit.com">holy@shit.com</a>
					</p>
				</div>
			</div>
		</section>
	</div>

	<footer> ⒸCopyright </footer>

</body>

</html>